{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'categories/style.css' %}" />

<h3>{{ category.name }}</h3>

<br>

<ul>
{% for item in category.item_set.all %}
    <li>{{ item.name }} -- {{ item.quantity }} </li>
{% endfor %}
</ul>

<br>

<div id="contentsLinks">
    <a href="{% url 'stock:remove' category.id %}">Remove from stock</a><br>
    <a href="{% url 'stock:detail' category.id %}">Add to stock</a><br>
    <a href="{% url 'stock:index' %}">Back to home page</a>
</div>

