{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'categories/style.css' %}" />

<h3>{{ category.name }}</h3>

<br>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="addItems">
    <form action="{% url 'stock:addItem' category.id %}" method="post">
    {% csrf_token %}
    Item name: <input type="text" name="item"><br>
    Quantity: <input type="text" name="numberOfItems"><br>
    <input type="submit" value="Add Item" />
    </form>
</div>