{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'categories/style.css' %}" />

<div id="mainTitle">
    <h3>
        Welcome to your stock page, please choose a category
    </h3>
</div>

<br>

{% if category_list %}
    <ul>
    {% for category in category_list %}
        <li><a href="/stock/{{ category.id }}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}