body
{
    background: rgb(214,249,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(214,249,255,1) 0%, rgba(158,232,250,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,249,255,1)), color-stop(100%,rgba(158,232,250,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
}

ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#contentsLinks
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;    
}

#addItems, #removeItems
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;     
}

#mainTitle
{
    border: 10px double;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}